html {
    overflow-y: scroll;
}

h3 {
    margin-bottom: 0.1px;
}
main {
    overflow: auto;
    margin: 8px auto;
    padding: 8px;
    width: 980px;
    border-radius: 10px;
    min-height: 600px;
    margin-top: 45px;
}

.dump_cookie {
    min-height: 100px;
    padding: 20px;
    background: lightgrey;
    border: 1px solid;
}


.textFilter {
    margin: 0.1px;
    height: 200px;
    width: 380px;
}

.inp1 {
    width: 80px;
    height: 50px;
}

.adminTable,
.adminTr,
.adminTd,
.adminTh {
    border: 1px solid black;
}

.adminTable {
    width: 100%;
    margin-top: 50px;
    min-height: 150px;
}

.search_error {
    margin-top: 50px;
    min-height: 50px;
    padding: 10px;
    background-color: rgb(225, 189, 189);
    border: 1px solid black;

}

.profile {
    text-align: center;
}

.align {
    text-align: center;
}

.bild_jag {
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
    margin: 10px;
}

.nav {
    background-image: linear-gradient(to top,black 0,#6f6f6f 100%);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 45px;
    left: 0;
    z-index: 5;
}

.navtext {
    font-size: 32px;
    color: #d8d8d8;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
    text-decoration: none;

}

.navtext a:hover {
    color: grey;
    background-color: black;
}

.active {
    font-size: 32px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
    background-color: black;
    text-decoration: none;

}

.bild_about {
    width: 100%;
    height: 300px;
}

.site-footer {
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    height: 200px;
}

.bild_jag_byline {
    width: 100px;
    height: 100px;
    float: left;
    transform: rotate(90deg);
    border-radius: 5px;
}

.byline {
    width: 400px;
    float: left;
    overflow: auto;
    margin-left: 35%;
    margin-top: 40px;
}

.byline_p {
    font-size: 17px;
    margin-top: 0.1px;
    color: white;
    padding-left: 120px;
}

.dump {
    margin-top: 30px;
    min-height: 100px;
    background-color: #b1afaf;
    border-radius: 5px;
}

.sessionkode {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.day {
    float: left;
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid black;
}

.onlyForPadding {
    padding-left: 17px;
}

article {
    width: 50%;
    overflow: auto;
    float: left;
    /*height: 250px;*/
}

.calPic {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    height: 250px;
    margin-top: 30px;
}

.monkey {
    font-size: 2em;
    margin-top: 30px;
}

.monkey2 {
    font-size: 2em;
    margin-top: 30px;
    float: left;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.divider {
    width: 100%;
    float: left;
}

.weekdays {
    width: 50px;
    float: left;
    margin: 3px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0.1px 8px 16px 0.1px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #d8d8d8;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-size: 32px;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: grey}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.editText {
    height: 200px;
    width: 400px;
}

.black {
    background-color: black;
    min-width: 0.1px;
}

.title-sidbar {
    text-align: center;
    border-bottom: 1px solid black;
    margin-top: 0.1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
}

.sidebar-right {
    width: 250px;
    min-height: 200px;
    border: 1px solid black;
}

.right {
    float: right;
}

.left {
    float: left;
}

.shopPic {
    width: 100px;
    height: 100px;
    /*padding-top: 20px;*/
}

.shopblock {
    height: 250px;
    width: 200px;
    margin: 30px;
    border: 2px solid grey;
    text-align: center;
}
