html {
    overflow-y: scroll;
}

main {
    margin: 8px auto;
    padding: 8px;
    width: 980px;
    border-radius: 10px;
    min-height: 600px;
    margin-top: 45px;
}

.bild_jag {
    width: 200px;
    float: left;
    height: 200px;
    transform: rotate(90deg);
    margin: 10px;
}

.nav {
    background-image: linear-gradient(to top,black 0,#6f6f6f 100%);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 45px;
    left: 0;
    z-index: 5;
}

.navtext {
    font-size: 32px;
    color: #d8d8d8;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
    text-decoration: none;

}

.active {
    font-size: 32px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
    background-color: black;
    text-decoration: none;

}

.bild_about {
    width: 100%;
    height: 300px;
}

.site-footer {
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    height: 200px;
}

.bild_jag_byline {
    width: 100px;
    height: 100px;
    float: left;
    transform: rotate(90deg);
    border-radius: 5px;
}

.byline {
    width: 400px;
    float: left;
    overflow: auto;
    margin-left: 35%;
    margin-top: 40px;
}

.byline_p {
    font-size: 17px;
    margin-top: 0.1px;
    color: white;
    padding-left: 120px;
}

.dump {
    margin-top: 30px;
    min-height: 100px;
    background-color: #b1afaf;
    border-radius: 5px;
}

.sessionkode {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.day {
    float: left;
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid black;
}

.onlyForPadding {
    padding-left: 17px;
}

article {
    width: 50%;
    overflow: auto;
    float: left;
    /*height: 250px;*/
}

.calPic {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    height: 250px;
    margin-top: 30px;
}

.monkey {
    font-size: 2em;
    margin-top: 30px;
    float: right;
}

.monkey2 {
    font-size: 2em;
    margin-top: 30px;
    float: left;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.divider {
    width: 100%;
    float: left;
}

.weekdays {
    width: 50px;
    float: left;
    margin: 3px;
}
